body {
  font: 12px sans-serif;
}
path {
  stroke-width: 1px;
  stroke: #333333;
  fill: #d3d3d3;
  cursor: pointer;
}
path:hover, path.highlighted,text:hover, text.highlighted {
  fill: #969696;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}
.map-div {
  text-align: center;
  margin: 0 auto;
}
